//
// DEMO.MAIN
//



////////////////////////////////////////////////////////////////////////////////
//
// REMOVE
//

body,
.c-site,
.c-masthead,
.c-body,
.c-footer,
.o-container,
.c-main,
.c-page-header {
    background: rgba(lightsteelblue, .4);
}

.c-sidebar,
.c-main {
    background: rgba(black, .2);
}

.c-masthead,
.c-entry {
    border-bottom: 3px solid gray;
}

.c-footer {
    border-top: 3px solid gray;
}

////////////////////////////////////////////////////////////////////////////////
//
// OBJECTS.BODY
//

.o-body {

    @include media-breakpoint-up(lg) {
        display: flex;
    }
}

.o-body__main {

    @include media-breakpoint-up(lg) {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

.o-body__sidebar {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        flex-grow: 0; /* do not grow   - initial value: 0 */
        flex-shrink: 0; /* do not shrink - initial value: 1 */
        flex-basis: 400px; /* width/height  - initial value: auto */
    }
}

////////////////////////////////////////////////////////////////////////////////
//
// OBJECTS.CONTAINER
//

.o-container {
    @include clearfix;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 3rem;
}

////////////////////////////////////////////////////////////////////////////////
//
// COMPONENTS.SITE
//

.c-site {
    max-width: 1200px;
    margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
//
// COMPONENTS.MAIN
//

.c-main {
    height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
//
// COMPONENTS.SIDEBAR
//

.c-sidebar {
    height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
//
// COMPONENTS.ENTRY
//

.c-entry {
    @include clearfix;
}