//
// OBJECTS.GRID
//



.o-grid--centered {
    justify-content: center;
}

@each $spacer-name, $spacer-sizes in $revo-spacers {

    .o-grid--gutter-#{$spacer-name} {
        margin-right: -(spacer-x($spacer-name));
        margin-bottom: -(spacer-y($spacer-name));

        [class*="#{$revo-grid-namespace}grid__col"] {
            padding-right: spacer-x($spacer-name);
            margin-bottom: spacer-y($spacer-name);
        }
    }

}